.ChatboxPresenter {
  margin: 20px;
}

.chatbox {
  border: 1px solid black;
  width: 600px;
  height: 452px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
