.GuestbookChatbox {
  border: 1px solid black;
  width: 600px;
  height: 510px;
  margin: 0 auto;
  overflow: hidden;
}

.GuestbookBlock {
  border-bottom: 1px solid black;
  height: 100px;
  overflow: hidden;
}

.GuestbookHeader {
  font-weight: bold;
}

.GuestbookContent {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
  margin-left: -35px;
}

ul li {
  /* list-style: none; */
  display: inline;
  padding: 4px;
}

ul li a {
  color: #000;
  text-decoration: none;
}

ul li a:focus {
  font-weight: bold;
}
