.GuestbookChatbox {
  border: 1px solid black;
  width: 600px;
  height: 449px;
  margin: 0 auto;
  overflow: hidden;
  /* text-align: left; */
}

.GuestbookBlock {
  border-bottom: 1px solid black;
  height: 150px;
  overflow: hidden;
}

.GuestbookDeleteButton {
  font-weight: lighter;
}

.GuestbookDeleteButton:hover {
  font-weight: bold;
}

.GuestbookContent {
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  margin-left: -35px;
}

.pagingButton:hover {
  font-weight: bold;
}

ul li {
  /* list-style: none; */
  display: inline;
  padding: 4px;
}

ul li a {
  color: #000;
  text-decoration: none;
}

ul li a:focus {
  font-weight: bold;
}

ul li a:hover {
  font-weight: bold;
}
