.Main {
  width: 1024px;
  position: relative;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  background-color: white;
}

.HeaderFavoriteMenus {
  margin: 20px;
}

.HeaderFavoriteMenu {
  margin: 5px;
  text-decoration: none;
}

.HeaderFavoriteMenu:hover {
  text-decoration: underline;
}
