.MainPage {
  text-align: center;
  width: 1024px;
  /* border: 1px solid black; */
}

.Menus {
  margin: 20px;
}

/* Header */
.SignupBar {
  text-align: right;
}

.Title {
  color: black;
  font-size: 30px;
}
